{% extends 'base.html' %}
{% block title %}
    <title>Person List</title>
{% endblock %}
{% block content %}
    <h1 class="text-center text-primary">Person List</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Address</th>
          <th>City</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in objects_list %}
          <tr>
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.gender}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.city}}</td>
            <td><img src="{{obj.profile_picture.url}}" alt="" height="200px" width="200px"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
